@import '../../sass-variables.scss';

.individual-house-card {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #1d1850, #271f6b);
    border-radius: .6rem;

    outline: 2px solid #ffb944;
    outline-offset: -1.5rem;

    &:hover .house-card-btn {
        visibility: visible;
        opacity: 1;
        transform: translateY(-4rem);
    }

    &__img {
        width: 100%;
        height: calc((100vw - 15rem) / 3.5 );
        object-fit: cover;
        margin-bottom: .5rem;

        @media only screen and (max-width: $bp-medium) {
            height: 30rem;
        }
    }

    &__content {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 2rem;
        padding: 0 auto;

        &--location,
        &--area,
        &--bed,
        &--bath,
        &--price {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--price {
            transform: translateX(60%);
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: #ffb944;
        margin-right: 1rem;
    }

    &__text {
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        color: #ffb944;
        font-weight: 300;
    }

}

.house-card-btn {
    font-size: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2rem);

    @media only screen and (max-width: $bp-largest) {
        visibility: visible;
        opacity: 1;
        transform: translateY(-4rem);
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 1rem;
    }
}