@font-face {
    font-family: 'TitleFont';
    src: url('YellowMagician.ttf') format('truetype');
}

.city-container {

    &__heading {
        font-family: 'TitleFont';
        font-weight: 300;
        font-size: 5rem;
        color: #ffb944;
        padding: 4rem 0;
        text-decoration: underline;
    }
}