@font-face {
    font-family: 'TitleFont';
    src: url('YellowMagician.ttf') format('truetype');
}

.realtors-page {
    
    background-image: linear-gradient(to right bottom, #271f6b, #0f0c29);

    &__realtors {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
        grid-gap: 8rem;
        padding: 3rem 8rem;
    }

    &__heading {
        color: #ffb944;
        padding: 10rem 6rem 6rem 0;
        text-decoration: underline;
        font-family: 'TitleFont';
        font-weight: 700;
        font-size: 4rem;
    }
}