@import './sass-variables.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-image: url('../src/images/spikes.png');

  @media only screen and (max-width: $bp-largest) {
	  font-size: 50%;
  }
}

body {
	box-sizing: border-box;
	padding: 2rem;

	@media only screen and (max-width: $bp-medium-large) {
		padding: 0;
	}
}

