$bp-largest: 75em;  //1200px
$bp-large: 62.5em;  //1000px
$bp-medium-large: 56.25em; //900px
$bp-medium: 50em;   //800px
$bp-medium-medium: 46.875em; //750px
$bp-medium-small: 43.75em; //700px
$bp-small: 37.5em;  //600px
$bp-small-small: 34.375em; //550px
$bp-small-smallest: 28.125em; //450px